*  {  box-sizing:border-box;}
body { background-color: #CCC;}


#map {
    width: 1400px;
    height: 900px;
    margin: 30px 20px 0 0;
    position: relative;
    float: right;
    border: solid blue;

}

.markerInfoWindow {
   width: 250px !important;
   top: 0 !important;
   left: 0 !important;
   padding: 5px;
   background-color: lightgrey;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
}

#textinput {
    width: 450px;
    height: 30px;
    position: relative;
    float: left;
    border: solid grey;
}
.searchButton {
    float: left;
    height: 40px;
}

header p {
    position: relative;
    float: left;
    margin: 1px 0 0 0;
    background-color: white;
    width: 450px;
    height: 20px;
}

ul {
    position: relative;
    float: left;
    margin: 1px 0 0 0;
    background-color: white;
    width: 450px;
}

li {
    position: relative;
    list-style-type: none;
    height: 20px;
    margin: 0 0 0 -40px;
    background-color: white;
    border-top: solid grey 1px;

}

